## Topics
## Indexing, selecting, assigning reference

As we process our datasets, we need to do a number of things that modify our datasets to fit our needs.

In [1]:
# Before Everything, we need to first import the modules we need!!
# import the module first
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

# Read the dataset we need, the student grade info
student_grade = pd.read_csv("/home/weikunma/Desktop/jupyter/MyClass/Datasets/abc.csv")
student_grade.describe()

Populating the interactive namespace from numpy and matplotlib

        language    science      maths    history
count   7.000000   7.000000   7.000000   7.000000
mean   54.285714  53.000000  43.285714  42.857143
std    35.523299  22.015146  23.746679  17.062909
min    10.000000  23.000000  12.000000  23.000000
25%    25.000000  39.500000  33.000000  33.000000
50%    50.000000  56.000000  45.000000  34.000000
75%    90.000000  61.500000  45.000000  55.000000
max    90.000000  90.000000  90.000000  67.000000

## 1. Indexing
In Python we can access the property as object, for our data, we can access the dataset simply by call data.column

In [2]:
# Print out the specific column by using the following 2 methods
student_grade.student # Specify the column name
# Or
print(student_grade['student'])

# You can specify the row as well
print('---------------------------')
print(student_grade['student'][0])

0     kumar
1     kevin
2     sammy
3    janice
4     peter
5      prem
6    carrol
Name: student, dtype: object
---------------------------
kumar

## index-based selection
We can choose the row by using __iloc__ method()
This is a __column-first, row-second__ selection method.

[:] key word can determine the range.
Let's do an example!

iloc[:3, 0]

In [3]:
# Example, lets find the first column of the dataset
print(student_grade.iloc[0])
# Find the dataset with first COLUMN
print("---------------------------")
print(student_grade.iloc[:, 0])
print("---------------------------")
# You can also find the first 3 rows's first column
print(student_grade.iloc[:3, 0])
# You can find the last 5 elements
print("---------------------------")
print(student_grade.iloc[-5:])

student     kumar
language       90
science        56
maths          34
history        34
Name: 0, dtype: object
---------------------------
0     kumar
1     kevin
2     sammy
3    janice
4     peter
5      prem
6    carrol
Name: student, dtype: object
---------------------------
0    kumar
1    kevin
2    sammy
Name: student, dtype: object
---------------------------
  student  language  science  maths  history
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23

## Label-based selection
You can use Method loc() to locate the element based on the __label__.

Let's do a simply example

In [4]:
# Let's see the first row of the science column
print(student_grade.loc[0, 'student'], "---> the  first student's name is kumar")
print("----------------------------")
# You can use list to find multiple data rows
print(student_grade.loc[0, ['student', 'language', 'science']])

kumar ---> the  first student's name is kumar
----------------------------
student     kumar
language       90
science        56
Name: 0, dtype: object

## Conditional  Selection
So far we've been indexing various strides of data, using structural properties of the DataFrame itself. To do interesting things with the data. however, we often need to ask questions based on __conditions__.

Again, let's start with an example

In [5]:
# What if we want to find out the info of sammy?
# In [], we use condition statement to define the condition
print(student_grade.loc[student_grade.student == 'sammy'])

  student  language  science  maths  history
2   sammy        90       23     12       32

In [6]:
# What if you want to find the student with math grade > 10
# and science > 30 ?
print(student_grade.loc[(student_grade.maths > 10) & (student_grade.science > 30)])

  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23

In [7]:
# You can even define your column values with a list.
# Example, 
student_grade.loc[student_grade.language.isin([10, 50])]

  student  language  science  maths  history
1   kevin        10       34     32       67
6  carrol        50       90     45       23

## Assigning Data

In [10]:
# You can assign values with constant like the following
temp_data = student_grade.copy()
# Assigning the history score all to 0
temp_data['hisory'] = 0
print(temp_data.head(3))
# Or you can assign the values in iterable ways

  student  language  science  maths  history  hisory
0   kumar        90       56     34       34       0
1   kevin        10       34     32       67       0
2   sammy        90       23     12       32       0
3  janice        20       67     90       45       0
4   peter        30       56     45       65       0
5    prem        90       45     45       34       0
6  carrol        50       90     45       23       0